{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block maintitle %}
<div class="col-md-12">
    <h3>{{ title }} на {% now "SHORT_DATETIME_FORMAT" %}</h3>
</div>
{% endblock maintitle%}

{% block content %}
{{ iterable }}
{% for event in events %}

<div class="card col-md-3"
     style="width: 300px;height: 400px;margin-left: 10px;margin-right: 10px;margin-bottom: 15px;margin-top: 15px;"
     align="center">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ event }}</h5>
        <p class="card-text">{{ event.description }}</p>
        <a href="{% url 'event' pk=event.id %}" class="btn btn-primary">More Info</a>
    </div>
</div>


{% endfor %}
{% endblock %}
