{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block maintitle %}
<div class="col-md-12">
    <h3>{{ event }} </h3>
</div>
{% endblock maintitle%}

{% block content %}

<div class="card col-md-10 ms-auto" align="center">
    <div class="card-header">
        Name : <a href="{{ event.get_absolute_url}}">{{ event }} </a>
    </div>
    <div class="card-body" align="center">
        <p>
            Service Type : <a href="#">{{event.event_type}} </a>
        </p>
        {% for eventvendor in eventvendors %}
        <p>
            Partners: <a href="{% url 'vendor' pk=partner.id">{{ eventvendor.partner }} </a>
            Type : <a href="#">{{ eventvendor.partner.service_type }} </a>
        </p>
        {% endfor %}
    </div>
</div>
{% endblock %}
