{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block maintitle %}
<div class="col-md-12">
    <h3>{{ title }} на {% now "SHORT_DATETIME_FORMAT" %}</h3>
</div>
{% endblock maintitle%}

{% block content %}
{% for partner in partners %}
<div class="card col-md-10 ms-auto">
    <div class="card-header">
        Name : <a href="{{ partner.get_absolute_url}}">{{ partner }} </a>
    </div>
    <div class="card-header">
        Service Type : <a href="#">{{partner.service_type}} </a>
    </div>
</div>
{% endfor %}
{% endblock %}
